@font-face {
	font-family: ArcadeClassic;
	src: url(fonts/ARCADECLASSIC.TTF);
}

body {
	font-family: ArcadeClassic;
	font-weight: 100;
	font-size: 24px;
	background-color: #1f1f1f;
	/* background-image: url(images/gameboy-color.png); */
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
}

h1 {
	font-size: 70px;
	font-weight: 500;
}

div.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

div#player-choices {
	display: flex;
	gap: 20px;
	padding: 20px 0;
}

button > img {
	height: 100px;
}

button {
	border: none;
	border-radius: 10px;
	padding: 20px 20px;
	background-color: #1f1f1f;
}

button:hover {
	background-color: bisque;
}

#round,
#score,
#winner {
	font-size: 50px;
}

a {
	text-decoration: none;
	color: whitesmoke;
}

footer {
	background-color: #303030;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	width: 100%;
}

footer > img {
	width: 30px;
	filter: invert(100%);
}
